<br />

      <%= form_tag url_for(action: "create"), method: "post" do |f| %>
        <%= label_tag 'Start_Date' %>
        <%= text_field_tag 'start_date', new_event.start_date, class: 'form-control'%>
        <%= label_tag 'Duration' %>
        <%= text_field_tag 'duration', new_event.duration, class: 'form-control'%>
        <%= label_tag 'Location' %>
        <%= text_field_tag 'location', new_event.location, class: 'form-control'%>
        <%= label_tag 'Title' %>
        <%= text_field_tag 'title', new_event.title, class: 'form-control'%>
        <%= label_tag 'Description' %>
        <%= text_field_tag 'description', new_event.description, class: 'form-control'%>
        <%= label_tag 'Price' %>
        <%= text_field_tag 'price', new_event.price, class: 'form-control'%>
        <br/>
        <%= submit_tag "Submit Article", class: 'btn btn-success' %>

      <% end %>

<!--
  <form>
  <div class="form-group row">
    <label for="inputStartDate" class="col-sm-2 col-form-label">Start date</label>
    <div class="col-sm-10">
      <input type="start_date" class="form-control" id="inputStartDate" placeholder="When are your party dude ? (format : Year Month Day Hours Minutes)"> 
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDuration" class="col-sm-2 col-form-label">Duration</label>
    <div class="col-sm-10">
      <input type="duration" class="form-control" id="inputDuration" placeholder="how long it will take !">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="title" class="form-control" id="inputTitle" placeholder="Name it !! ex: The new woodstock at MTP ">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDescription" class="col-sm-2 col-form-label">description</label>
    <div class="col-sm-10">
      <input type="description" class="form-control" id="inputDescription" placeholder="What are you gonna doooo !">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input type="price" class="form-control" id="inputPrice" placeholder="serious thing ! how much ?">
    </div>
  </div>
    <div class="form-group row">
    <label for="inputLocation" class="col-sm-2 col-form-label">Location</label>
    <div class="col-sm-10">
      <input type="location" class="form-control" id="inputLocation" placeholder="Where ?!">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
  --->